VITE_I18N_LOCALE=en
VITE_I18N_FALLBACK_LOCALE=en
VITE_GKCORE_URL='http://localhost:6543'
VITE_FETCH_LATEST_VERSION=false
VITE_LOGIN_CAPTCHA=false

# Login Banner
VITE_LOGIN_BANNER_SHOW=false
VITE_LOGIN_BANNER_VARIANT=info
VITE_LOGIN_BANNER_CONTENT='Login banner content'

# Sidebar Banner
VITE_SIDEBAR_BANNER_SHOW=false
VITE_SIDEBAR_BANNER_VARIANT=info
VITE_SIDEBAR_BANNER_CONTENT='Sidebar banner content'
