<template>
  <div id="app">
    <template v-if="screenWidth < 1200 || !userOrgAuthenticated">
      <header id="app-header">
        <topbar :screen-width="screenWidth" />
      </header>
      <main role="main">
        <b-container
          class="ml-0 mt-4"
          fluid
        >
          <router-view />
        </b-container>
      </main>
      <version-info />
    </template>
    <template v-else>
      <b-row no-gutters>
        <b-col cols="2">
          <sidebar-nav :screen-width="screenWidth" />
        </b-col>
        <b-col cols="10">
          <header id="app-header">
            <topbar :screen-width="screenWidth" />
          </header>
          <main role="main">
            <b-container
              class="ml-0 mt-4"
              fluid
            >
              <router-view />
            </b-container>
          </main>
          <version-info />
        </b-col>
      </b-row>
    </template>
    <go-to v-if="userOrgAuthenticated" />
    <title-bar />
    <b-modal
      :title="$gettext('Select Financial Year')"
      header-bg-variant="dark"
      header-text-variant="light"
      hide-footer
      id="fy-modal"
      size="sm"
      centered
    >
      <!-- financial year selection -->
      <v-select
        :reduce="(option) => option.index"
        :options="finYears"
        v-model="currentFinYear"
      >
        <template #selected-option="{yend, ystart}">
          <!-- WARN: beware of Y3K Bug -->
          FY {{ ystart.split('-')[2] }} -
          {{ yend.split('-')[2].slice(2, 4) }}
        </template>
      </v-select>
    </b-modal>
  </div>
</template>

<script>
import axios from 'axios';
import { mapState } from 'vuex';
import Topbar from './components/Topbar.vue';
import SidebarNav from './components/SidebarNav.vue';
import TitleBar from './components/TitleBar.vue';
import GoTo from './components/GoTo.vue';
import VersionInfo from './components/VersionInfo.vue';
export default {
  name: 'App',
  components: { Topbar, SidebarNav, TitleBar, GoTo, VersionInfo },
  data() {
    return {
      screenWidth: window.innerWidth,
      currentFinYear: null,
    };
  },
  computed: {
    activeNav: (self) => self.$route.name,
    ...mapState([
      'userName',
      'orgName',
      'gkCoreUrl',
      'authToken',
      'userOrgAuthenticated',
      'orgImg',
      'yearStart',
      'yearEnd',
      'finYears',
    ]),
  },
  watch: {
    currentFinYear(index) {
      this.orgLogin(this.finYears[index]);
    },
    yearStart(newStart, oldStart) {
      if (!oldStart && newStart && !this.currentFinYear) {
        let res = null;
        if (this.yearStart && this.yearEnd) {
          let ystart = this.yearStart
            .split('-')
            .reverse()
            .join('-');
          let yend = this.yearEnd
            .split('-')
            .reverse()
            .join('-');
          let currentYear = this.finYears.find(
            (ydata) => ydata.ystart === ystart && ydata.yend === yend
          );
          res = currentYear;
        }
        this.currentFinYear = res;
      }
    },
  },
  methods: {
    /**
     * fetch latest app changes if FETCH_LATEST_VERSION is set to true in .env
     */
    upgradeAppToLatestVersion() {
      if (this.gkConfig.fetch_latest_version) {
        this.$workbox.addEventListener('waiting', () => {
          // notify the user before updating the app
          this.$bvToast.toast(`Updating app to the latest version`, {
            title: 'New Update Available!',
            solid: 'true',
            variant: 'warning',
            autoHideDelay: 3000,
          });
          // pull the latest code
          setTimeout(() => {
            this.$workbox.messageSW({ type: 'SKIP_WAITING' });
          }, 3000);
        });
      } else {
        console.warn(
          'Pulling latest app changes is disabled in the .env file'
        );
      }
    },
    orgLogin(yearData) {
      if (!yearData) {
        return;
      }
      const userAuthToken = sessionStorage.getItem('userAuthToken');
      let selectedYear = yearData;
      let payload = {
        orgcode: selectedYear.code,
      };
      // TODO: here instead of sending the username and password, send the new user auth token
      axios
        .post(`${this.gkCoreUrl}/login/org`, payload, {
          headers: {
            gktoken: userAuthToken,
            gkusertoken: userAuthToken,
          },
        })
        .then((resp) => {
          switch (resp.data.gkstatus) {
          case 0:
            axios.defaults.baseURL = this.gkCoreUrl;
            axios.defaults.headers = { gktoken: resp.data.token };
            // Initiate vuex store
            this.$store.dispatch('setSessionStates', {
              auth: true,
              orgCode: selectedYear.code,
              authToken: resp.data.token,
              orgYears: {
                yearStart: selectedYear.ystart
                  .split('-')
                  .reverse()
                  .join('-'),
                yearEnd: selectedYear.yend
                  .split('-')
                  .reverse()
                  .join('-'),
              },
            });

            Promise.all([
              this.$store.dispatch('initLocalStates'), // initialises vuex, org image and org address
              this.$store.dispatch('global/initGlobalConfig'), // initialises global config
              this.$store.dispatch('initGstin'), // initialises org GSTIN
            ]).then(() => {
              this.$store
                .dispatch('global/initGlobalState', {
                  lang: this.$language,
                })
                .then(() => {
                  // redirect to workflow on login
                  location.reload();
                });
            });
            break;
          case 2:
            this.$bvToast.toast(`Invalid login details`, {
              title: 'Login Error!',
              autoHideDelay: 3000,
              variant: 'danger',
            });
            break;
          case 5:
            this.$router.push('/select-org');
            break;
          default:
            this.$bvToast.toast(`Internal Server Error`, {
              title: 'Login Error!',
              autoHideDelay: 3000,
              variant: 'danger',
            });
          }
        });
    },
  },
  beforeCreate() {
    // initialize the required vuex states from local storage
    this.$store.dispatch('initLocalStates').then(() => {
      // init global config of an org
      this.$store.dispatch('global/initGlobalConfig');
      this.$store.dispatch('global/initGlobalState', { lang: this.$language });
    });
  },
  mounted() {
    // Attach listener to detect screen width resizing
    // https://stackoverflow.com/a/51566337
    window.onresize = () => {
      this.screenWidth = window.innerWidth;
    }
    this.upgradeAppToLatestVersion();
    this.check_gst_news();
    document.querySelector('title').textContent = `GNUKhata ${
      this.orgName !== null ? '| ' + this.orgName : ''
    }`;
    // The below code checks the store and updates the current financial year when the app reloads
    // TODO: Must make this part of code reactive, such that the current financial year is updated when
    // its changed in any view and doesn't require a page refresh to reflect
    if (this.yearStart && this.yearEnd) {
      let ystart = this.yearStart
        .split('-')
        .reverse()
        .join('-');
      let yend = this.yearEnd
        .split('-')
        .reverse()
        .join('-');
      let currentYear = this.finYears.find(
        (ydata) => ydata.ystart === ystart && ydata.yend === yend
      );
      this.currentFinYear = currentYear;
    } else {
      this.currentFinYear = null;
    }
  },
};
</script>
