/* Sticky footer styles Start */
html {
  position: relative;
  min-height: 100%;
}

main {
  min-height: 82vh;
}

@media only screen and (max-width: 991px) {
  main {
    margin-bottom: 150px;
  }
}

/* Sticky footer styles End */

.gk-blue {
  color: #000080;
}

.bg-gk-blue {
  background-color: #000080;
}
.gk-orange {
  color: #ff7f2a;
}

.bg-gk-orange {
  background-color: #ff7f2a;
}
.copyleft {
  display: inline-block;
  transform: rotate(180deg);
}

.card-body {
  hr {
    margin-left: $card-spacer-x;
    margin-right: $card-spacer-x;
  }
}

.required {
  &:after {
    content: ' *';
    color: #ff0000;
  }
}

// Styles to remove Spin buttons in number input fields

.hide-spin-button {
  /* Chrome, Safari, Edge, Opera */
  &::-webkit-outer-spin-button,
  &::-webkit-inner-spin-button {
    -webkit-appearance: none;
    margin: 0;
  }

  /* Firefox */
  &[type='number'] {
    -moz-appearance: textfield;
  }
}

.label-on-input {
  position: absolute;
  left: 1.75rem;
  z-index: 5;
  top: -0.55rem;
  background-color: white;
  padding: 0;
  margin: 0;
  font-size: 0.75rem;
  width: auto;
}

.rtable {
  width: 70%;
}
@media all and (max-width: 600px) {
  .rtable {
    width: 100%;
  }
}

// Right align form labels
.align-form-label-right {
  .form-row {
    .col-form-label {
      text-align: right;
    }
  }
}

.gkcard {
  max-width: 40em;
  @media print {
    display: none;
  }
}

.gksearch {
  max-width: 30em;
}

.table-border-dark td,
.table-border-dark th {
  border: 1px solid #000000;
}

.text-small {
  font-size: 0.9rem;
}

.gk-currency{
  text-align: right;
}

@media screen and (min-width: 575px) {
  .gk-currency-sm {
    text-align: right;
		width: min-content;
  }
}

@media screen and (max-width: 575px) {
  .gk-vertical-row {
    padding: 0.25em;
    border: 1px solid #000000;
    td {
      border: 0;
      padding: 0;
    }
  }
}

@media print {
  * {
    color-adjust: exact !important;
    print-color-adjust: exact !important;
    -webkit-print-color-adjust: exact !important;
  }
  .table .thead-dark th {
    color: #fff !important;
    background-color: #343a40 !important;
    border-color: #454d55 !important;
  }
  .print-table-border-dark th,
  .print-table-border-dark td,
  .table-border-dark td,
  .table-border-dark th {
    border: 1px solid #000000 !important;
  }
  a:link {
    color: #000;
    border-bottom: none !important;
    text-decoration: none !important;
  }
  a[href]:after {
    content: none !important;
  }
}
